.idea
.vscode
.env
kafka
init-scripts
**certificates
node_modules/
.expo/
/bin/
*.un~
*.p12
**/recipes.jsonl
**/example_recipes_enriched.jsonl
**/out
**/logs
**/sessions
**/_temp
**/_cleanup
**/temp
**/urlset*.xml
**/data/temp/
*.json
!grafana-dashboards/*.json
!grafana-dashboard-decidish-v2.json